<ol>

  <% @list.each do |bookmark| %>
    <li> <%= bookmark %> </li>
  <% end %>

</ol>

<form action='/add_bookmark' method='post'>
  <input name="new_bookmark" type="text">
  <input type='submit' value="submit">
  </form>
